
*.log
Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto1.umap
Saved/Autosaves/PackageRestoreData.json
Saved/Backup/ThirdPersonExampleMap_2019-01-11-17-35-02.umap
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/HeroicElite.log
